.caixa {
    
    width: 400px;
    height: 100%;
    background-color: #FFF1F1;
    border: 2px dotted black;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    text-align: center;
  }